.searchCase {
  padding: 10px 18px;
  background-color: white;
  margin-bottom: 20px;
  .label{
    display: inline-block;
    width: 80px;
    text-align: right;
  }
  .formItem {
    width:200px;
  }
  >div {
    line-height: 36px;
  }
  .searchBtn {
    background-color: #FFD100;
    &:hover,&:active,&:focus{
      color:#FFD100;
      background: white;
      border-color: #FFD100
    }
  }
  .clearBtn{
    color: black;
    background: white;
    border-color: #FFD100;
    margin-right: 20px;
  }
}

.searchCountCase {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  font-size: 19px;
  color:#73879C;
  .searchCount {
    color:#FF3333;
  }
}

.detailCase {
  padding: 10px 18px;
  background-color: white;
  margin-bottom: 20px;
  line-height: 36px;
  .caseTitle {
    font-size: 16px;
    font-weight: bold;
    color:#8A6432;
    border-bottom: 2px solid #E6E9ED;
    text-indent: 18px;
  }
  .label{
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  .caseInfo {
    margin-top: 16px;
    position: relative;
    .PointDiv {
      display: inline-block;
      width:400px;
      height: 80px;
      line-height: 80px;
      text-indent: 20px;
      background-color: #FFE881;
      font-size: 18px;
    }
    .caseBtn {
      position: absolute;
      right:0;
      top:0;
      background-color: #FFD100;
      &:hover,&:active,&:focus{
        color:#FFD100;
        background: white;
        border-color: #FFD100
      }
    }
    .description{
      font-size: 16px;
      >span{
        font-size: 18px;
      }
    }
    .coupons{
      width: 711px;
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 10px;
      .couponItem {
        width:237px;
        height: 54px;
        >span{
          display: inline-block;
          width:197px;
          height: 54px;
          background-image: url(../../assets/coupon.png);
          line-height: 54px;
          text-indent: 30px;
        }
      }
    }
  }
}

.modal {
  line-height: 36px;
  vertical-align: middle;
}
